body {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
 color: ##1E0B0F;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 9pt;
}

h3 {
  font-size: 9pt;
  font-weight: lighter;
}

h5 {
  font-weight: 300;
}

p {
  font-size: 9pt;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li a {
  text-decoration: none;
}

.header {
  padding: 100px;
  padding-top: 300px;
  padding-bottom: 300px;
  margin-bottom: 15px;
  text-align: left;
  background: black;
  color: white;
  font-size: 30px;
}

.sub-header {
  padding: 100px;
  text-align: left;
  background: black;
  color: white;
  font-size: 30px;
}

/*.gen-link {
  text-decoration: none;
}*/

/*navbar*/

.navbar {
  background: white;
  align-content: right;
}

.nav-item {
}

/*footer*/

.footer {
  background:  black;
  color: white;
  height: 50px;
  width:  100%;
  line-height: 50px;
  margin-top: auto;
}

/*card*/

.card-product {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 50%;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/*button*/

.gen-link {
 color: black;
 text-decoration: none;

}

.gen-link:hover {
 color: red;
 text-decoration: none;
}


